<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9XddfK2VxeKK0L9Aa6-5uN_iuIZ129oI</string>
	<key>GCM_SENDER_ID</key>
	<string>497514008059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cnotifyFlutterExample</string>
	<key>PROJECT_ID</key>
	<string>cnotify-flutter-example</string>
	<key>STORAGE_BUCKET</key>
	<string>cnotify-flutter-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497514008059:ios:ebfda3c9517e4b4ca54f5e</string>
</dict>
</plist>